body {
  font-family: 'Open Sans', sans-serif;
  background-color: #85DEF2;
}

h1 {
  text-align: center;
  padding: 20px;
}

.btn {
  font-size: 18px;
}

form {
  padding: 40px;
  margin-top: 40px;
}

.form-control {
  height: 40px;
}

input[type="submit"] {
  width: 100%;
}

input[type=search] {
  text-align: center;
  font-size: 18px;
}   

.box {
  border: 3px solid white;
  background-color: white;
  box-shadow:0 1px 2px #ccc;
  font-size: 16px;
  padding: 10px;
}

#result {
  padding: 40px;
}